name: Keep Render Alive

on:
  schedule:
    # Cada 10 min, 24/7 correr
    - cron: "*/10 * * * *"

  # Para poder ejecutarlo manualmente
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest

    steps:
      - name: Ping Render
        run: |
          echo "Ping Render..."
          response=$(curl -s -w "\n%{http_code}" "https://finz-api-o2iy.onrender.com/health")
          http_code=$(echo "$response" | tail -n1)

          echo "Response: $body"
          echo "HTTP Status: $http_code"

          if [ "$http_code" -eq 200 ]; then
            echo "Render is alive!"
            exit 0
          else
            echo "Render is down! HTTP $http_code"
            exit 1
          fi
